POSTGRES_USER=admin
POSTGRES_PASSWORD=123
POSTGRES_DB=avengers_coffee
POSTGRES_PORT=5432

DB_HOST=postgres-db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=123
DB_NAME=avengers_coffee

REDIS_HOST=redis-cache
REDIS_PORT=6379
REDIS_INTERNAL_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://rabbitmq:5672

GATEWAY_PORT=3000
IDENTITY_PORT=3001
MENU_PORT=3003
INVENTORY_PORT=3004
ORDER_PORT=3005

WEB_CUSTOMER_API_URL=http://localhost:3000
WEB_ADMIN_API_URL=http://localhost:3000
WEB_CUSTOMER_PORT=5173
WEB_ADMIN_PORT=5174