# URL kết nối tới API Gateway (Port 3000)
# Thay đổi IP này thành IP Wi-Fi/LAN của máy tính chạy server nếu IP thay đổi
EXPO_PUBLIC_API_URL=http://192.168.2.196:3000
EXPO_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
