@import "tailwindcss";

@theme {
  --color-tch-orange: #ea8025;
  --color-tch-bg: #fffcf5;
  --color-tch-gray: #f5f5f5;
  --color-tch-text: #333333;
}

body {
  background-color: var(--color-tch-bg);
  color: var(--color-tch-text);
  /* TCH thường dùng font San-serif rất sạch */
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Custom scrollbar cho giống web thật */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}